<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CrmConnectionString" connectionString="AuthType=OAuth;Username=your_username;Password=your_password;Url=https://your_org.crm.dynamics.com;AppId=your_app_id;RedirectUri=your_redirect_uri;LoginPrompt=Auto"/>
	</connectionStrings>
	<appSettings>
		<add key="OutputDirectory" value="C:\\Users\\willr\\Desktop\\testdata" />
	</appSettings>
</configuration>
